<div class="desktop-view header-wrapper">
  <div class="logo">
    G
  </div>
  <nav>
    <button mat-button (click)="goTo('')">
      <mat-icon>home</mat-icon>
      <span class="btn-label">{{ 'HEADER.Home' | translate }}</span>
    </button>
    <button mat-button (click)="goTo('user')">
      <mat-icon>group</mat-icon>
      <span class="btn-label">{{ 'HEADER.User' | translate }}</span>
    </button>
  </nav>
</div>

<div class="mobile-view header-wrapper">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="goTo('')">
      <mat-icon>home</mat-icon>
      <span>{{ 'HEADER.Home' | translate }}</span>
    </button>
    <button mat-menu-item (click)="goTo('user')">
      <mat-icon>group</mat-icon>
      <span>{{ 'HEADER.User' | translate }}</span>
    </button>
  </mat-menu>
</div>
