<div class="desktop-view header-wrapper">
  <div class="logo">
    G
  </div>
  <button mat-button (click)="goTo('')">
    <mat-icon>{{ 'Home' | translate}}</mat-icon>
    <span class="btn-label">Home</span>
  </button>
  <button mat-button (click)="goTo('user')">
    <mat-icon>group</mat-icon>
    <span class="btn-label">User</span>
  </button>
</div>

<div class="mobile-view header-wrapper">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="goTo('')">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item (click)="goTo('user')">
      <mat-icon>group</mat-icon>
      <span>User</span>
    </button>
  </mat-menu>
</div>
