// COLORS
$primary-50-color: #e4f0f8;
$primary-100-color: #bcd9ea;
$primary-200-color: #8bbdd9;
$primary-300-color: #5ba4cf;
$primary-400-color: #298fca;
$primary-500-color: #0079bf;
$primary-600-color: #026aa7;
$primary-700-color: #055a8c;
$primary-800-color: #094c72;
$primary-900-color: #0c3953;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-warning: #f44336;

// FONT
$default-font-size: 1.6rem;
